/*Limpar formatações padrões*/
* {
	margin: 0;
	padding: 0;

}

body {
	font-size: 1em; /* 1em Equivale a 16 px*/
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}

/*
***** Layout **** */

#linha-horizontal{
    width: 350px;
    border: 0.5px solid #cac9c9;
    margin-bottom: 30px;

}

#linha-vertical{
    height:  50px;
    float: left;
    border-right: 1px solid rgb(204, 204, 204);
}
#area-logo{
    float: left;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 50px;
    font-size: 1.5em;

}

#area-logo p{
    color: rgb(97, 95, 95);
}

#area-cabecalho {
	background: white;
	padding: 15px;
    


}

#raposa img{
    border-radius: 20px;

}

#raposa p.cefet{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#raposa{
    width: 360px;
	float: left;
}

 #area-menu {
	padding: 10px;

}

#area-principal {
		width: 1120px;
		margin: 0 auto;
		padding: 15px;
}


#area-postagens {
		width: 660px;
		float: right;
}

#area-lateral {
	width: 365px;
	float: left;
    margin-top: 50px;
}

.postagem{
		padding: 20px 20px ;
        width: 770px;
		margin-bottom: 40px;
		background: white;

}

.postagem span img{
    border-radius: 20px;
    margin-left:700px;
}

.postagem h3{
    margin-left:600px;
    font-size: 14px;
}

.conteudo-lateral {
    margin-bottom: 10px;
    padding-top: 40px;
}

.postagem-lateral {
        width: 352px;
		font-size: 0.8em;
        background-color: white;

}

.postagem-lateral img{
    margin-left: 290px;
    border-radius: 30px;
}

.postagem-lateral #october{
    font-family:monospace;
    font-size: 12px;
    color: grey;
}

#pequenos p{
    width: 290px;
    float: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#pequenos{
    margin-bottom: 30px;
}


#rodape {
		clear: both;
		text-align: left;
		padding: 15px;
		

}



/*
****** Formatação do menu ****** */
a{
	text-decoration: none;
}


 a:link, a:visited {
	text-decoration: none;
		
}

a:hover {

	text-decoration: underline;

}

#area-cabecalho a:link, #area-cabecalho a:visited {
        font-size: 13px;
        color: grey;
		padding: 8px 12px;

}

#area-cabecalho a:hover {

	text-decoration: none;

}



/* ****Formatações em geral***** */

h1{
	color: #4e4e4e;
	font-size: 2.5em;
}
h2{
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{

	padding: 5px;

}

.branco {
		color: white;

}

.data-postagem{
		font-size: 0.8em;
		border-bottom: 1px solid #f4f4f4;
		padding-bottom: 10px;
		margin-bottom: 10px;
		display: block;
		
}