.bloco{
    display: flexbox;
    border: solid;
    margin: 50px;
    padding: 50px;
    margin-left: 450px;
    width: 500px;
    justify-items: center;
 
}
.bloco > div{
    justify-items: center;

}

main{
    justify-content: center;
    text-align: center;
}
h1{
    text-align: center;
}

body{
    background-color: rgb(127, 169, 224);
}
