*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

#linha-horizontal{
    width: 350px;
    border: 0.5px solid ;
    color:#a8a7a7;
    margin-bottom: 30px;
}

#linha-horizontal2{
    width: 410px;
    border: 0.5px solid ;
    color:#413d3d;
    margin-bottom: 30px;
}

.clear{
	clear: both;
}

#relocate{
    padding-left: 40px;
}

#topo {
    background-image: url(imagens/banner.jpg);
    height: 680px;
    background-repeat: no-repeat;
    background-size: 100%;
}

#topo h1{
    padding-top: 130px;
    text-align: center;
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;

}

#itens-topo {
    padding-top: 80px;
    padding-left: 500px;
}

#itens-topo a{
    padding-left: 50px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
}

#home{
    border-radius: 19px;
    border-style:double;
    padding: 10px 50px 10px 10px ;
}

#inicio{
    display: inline-block;
    padding-left: 85px;
}

#inicio h1{
    font-size: 40px;
}

#inicio h2{
    font-size: 20px;
    padding-bottom: 30px;
}

#inicio img{
    width: 980px;
}

#conteudo-lateral{
    float: right;
    padding-right: 100px;
    padding-bottom: 90px;
    display: inline-block;
}


#conteudo-lateral h3{
    font-size: 13px;
    color: #ccc;
}

#conteudo-lateral p{
    float: right;
}

#posts{
    padding-top: 30px;
}



#topicos{
    padding-top: 50px;
    background-color: #ccc;
    width: 1583px;
}

#texto{
    padding-top: 20px;
    width: 950px;
}

#divs{
    display:inline-block;
    padding-bottom: 110px;
}

#divs h2{
    float: left;
    padding: 14px;
    border-style: none;
    text-decoration: none;
    background-color: orangered;
    border-radius: 30px;
    font-size: 13px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}



#details{
    padding-top: 50px;
    background-color: #ccc;
}


#divs{
    display: inline-block;
}

#texto2{
    width: 400px;
    padding-left: 85px;
    padding-top: 25px;
}

#topicos img{
    padding-left: 85px;
}

#topicos h1{
    padding-left: 85px;
    padding-bottom: 40px;
}


#divs h1{
    font-size: 20px;
}

#divs img{
    width: 500px;
}


#divs2{
    display: inline-block;
    padding-left: 20px;
}

#divs2 h2{
    float: left;
    padding: 14px;
    border-style: none;
    text-decoration: none;
    background-color: orangered;
    border-radius: 30px;
    font-size: 13px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#divs2 h1{
    font-size: 20px;
}

#divs2 img{
    width: 500px;
}

#divs3{
    display:inline-block;
    padding-left: 20px;
}

#divs3 h2{
    float: left;
    padding: 14px;
    border-style: none;
    text-decoration: none;
    background-color: orangered;
    border-radius: 30px;
    font-size: 13px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#divs3 h1{
    font-size: 20px;
}

#divs3 img{
    width: 500px;
}

footer{
    background-color: black;
    padding-bottom: 30px;
    
}

footer h2{
    color: white;
    padding-bottom: 50px;
}

footer p{
    color: #ccc;
}

#coluna1{
    display: inline-block;
    width: 33%;
    padding-left: 85px;
    padding-top: 90px;
}

#coluna2{
    display: inline-block;
    width: 33%;
    padding-left: 85px;
}

#coluna3{
    display: inline-block;
    width: 33%;
    padding-left: 85px;
}

footer a{
    text-decoration: none;
    color: #888787;
}


