*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

#linha-horizontal{
    width: 350px;
    border: 0.5px solid #cac9c9;
    margin-bottom: 30px;
}

.clear{
	clear: both;
}

#topo {
    background-image: url(imagens/banner.jpg);
    height: 680px;
    background-repeat: no-repeat;
    background-size: 100%;
}

#topo h1{
    padding-top: 130px;
    text-align: center;
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;

}

#itens-topo {
    padding-top: 80px;
    padding-left: 500px;
}

#itens-topo a{
    padding-left: 50px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
}

#home{
    border-radius: 19px;
    border-style:double;
    padding: 10px 50px 10px 10px ;
}


#inicio img{
    padding-left: 35px;
    padding-top: 40px;
}

#texto{
    padding-top: 20px;
    padding-left: 35px;
    width: 950px;
}

#texto2{
    width: 495px;
    padding-left: 35px;
    padding-top: 25px;
}


#inicio h4, h1{
    padding-left: 35px;
}

#inicio h1{
    font-size: 30px;
}

#inicio-direita{
    float: right;
}

#inicio-direita h1{
    padding-right: 200px;
}

#inicio-direita h4{
    padding-bottom: 25px;
    color: rgb(165, 164, 164);
    font-size: 12px;
}


#inicio-direita img{
    float: left;
    padding-left: 0px;
}

#inicio-direita p{
    padding-top: 10px;
    padding-left: 90px;
}

#conteudo-lateral{
    padding-left: 35px;
}

#topicos{
    padding-top: 50px;
    background-color: #ccc;
    width: 1583px;
}


#divs{
    display:inline-block
}

#divs h1{
    font-size: 20px;
}

#divs img{
    width: 500px;
}


#divs2{
    display: inline-block;
    padding-left: 20px;
}

#divs2 h1{
    font-size: 20px;
}

#divs2 img{
    width: 500px;
}

#divs3{
    display:inline-block;
    padding-left: 20px;
}

#divs3 h1{
    font-size: 20px;
}

#divs3 img{
    width: 500px;
}



